.activities-item {
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
}

.activities-image {
  background-size: cover;
  background-position: center;
  height:300px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: flex-start
}

.activities-name {
  padding-left: 10px;
  padding-top: 10px;
  color: white;
}

.activities-name-info-window {
  padding-top: 10px;
  color: black;
}

.activities-text {
  padding-top: 10px;
}

.activities-subtext {
  color: #404040;
}

a {
  text-decoration: none;
  color: black;
}

#activities-index-search {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.activities-index-borders {
  margin-top: 1vh;
  border-top: 1px solid #A7E6FF;
}

.activities-map {
  margin-top: 20px;
  height: 80vh;
  border-radius: 10px;
}

.activities-map canvas.mapboxgl-canvas {
  height: 80vh !important;
  width: auto !important;
}

.map-button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 4vh;
  padding-left: 4vh;
  border-radius: 30px;
  border: 1px solid white;
  position: sticky;
  bottom: 12vh;
  z-index: 3;
  margin: 0 auto;
  display: block;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact-show {
  display: none;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
  display: none;
}

a.mapboxgl-ctrl-logo.mapboxgl-compact {
  display: none;
}

#index-categories {
  display: flex;
  // margin: 20px auto;
  padding: 5px;
  max-width: 600px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.category-item {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
