.activity-item {
  padding: 2vh;
  margin-top: 2vh;
}

.activities-image {
  background-size: cover;
  background-position: center;
  height:300px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: flex-start
}

.activity-name {
  padding-left: 10px;
  padding-top: 10px;
  color: white;
}

.activity-text {
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}
