.activities-item {
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 1vh;
}

.activities-image {
  background-size: cover;
  background-position: center;
  height:300px;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: flex-start
}

.activities-name {
  padding-left: 10px;
  padding-top: 10px;
  color: white;
}

.activities-text {
  padding-top: 10px;
}

.activities-subtext {
  color: #404040;
}

a {
  text-decoration: none;
  color: black;
}

#activities-index-search {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.activities-index-borders {
  margin-top: 1vh;
  border-top: 1px solid #A7E6FF;
}
