body {
  background-color: white;
}

.button-learn {
  background-color: transparent;
  border: none;
  color: white;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
  // border: solid thin white;
  border-radius: 25px;
}

.back-button {
  position: fixed;
  top: 20px;
  z-index: 10;
  margin-left: 8px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 13px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.642);
  padding: 6px;
  padding-right: 14px;
}

.back-button-img {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-top:-3px;
  margin-left:1px;
}


.activity-image {
  width: 100%;
  height: 25vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.club-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.club-details {
  padding: 3vw;
  background-color: black;
}


.club-title h1 {
  color: white;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.club-desc {
  font-size: small;
  color: white;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}


#learn-more-btn {
  background-color: #A7E6FF;
  color: black;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}


.flex-container {
  display: flex;
  justify-content: space-between;

}

.social-links {
 display: flex;
 flex-direction: column;
 gap: 10px;
 color: white;
 font-size: small;

 justify-content: space-around;
 font-family: "Roboto", serif;
 font-weight: 100;
 font-style: normal;
}


.location-tag {
  color: white;
  max-width: 200px;
  word-break: break-word;
  display: flex;
}

.instagram-tag {
  max-width: 200px;
  word-break: break-word;
  display: flex;
}

.phone-tag {
  max-width: 200px;
  display: flex;
}

.club-icon-text {
  color: white;
  margin-left: 5px;
  font-size: 15px;
  margin-top:4px;
}

.fa-solid {
  padding-right: 8px;
  color:#A7E6FF;
  padding-top: 5px;
}

.fa-brands {
  padding-right: 8px;
  color:#A7E6FF;
}

.custom-icon {
  font-size: 20px;
}


map {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.map-container {
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  margin-left: 20px; /* Add some space between the social links and the map */
}


// .map {
//   flex: 0 0 180px;
//   height: 180px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .maps  {
//   margin-right: -15px;
//   height:180px;
//   width:180px;
//   border-radius: 10px;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

#clubmap-container {
  height: 22vh;
  z-index: 0;
  margin: 10px;
  border-radius: 10px;
}



.activities-title {
  margin-left: 15px;
  margin-top: 10px;
}

#activities-index {
  margin-top: 33px;
  margin-bottom: 62px;
}

.activities-title-index {
  margin-top: 33px;
  margin-left: 17px;
  font-weight: bold;
}
