.edit-activity {
  margin-top: 18px;
  font-family: "Comfortaa", serif;
  font-weight: 500;
  font-style: normal;
}

.form-group {
  font-family: "Comfortaa", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 4vw;
}
