// Specific CSS for your home-page
body.home-page {
  background-color: rgb(0, 0, 0);
  color: white;
}

.home-body {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 85px;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  height: 64vh;
}

.typed-container {
  margin-bottom: 20px;

}

.typed-container span[data-controller='typed'] {
  font-size: 24px; /* Increase the font size */
  font-weight: bold; /* Optional: Make the text bold */
  color: #e6e6e6; /* Optional: Change the text color */
}

.search-bar {
  width: 100%;
  max-width: 600px;
}

.badge {
  width: 375px;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 85px;
  padding-left: 40px;
  padding-right: 40px;

}


.logo {
  color: white;
  padding-left: 5px;
}

.navbuttons{
  display: flex;
  gap: 10px;
  height: 45px;
}
.navbar {
  color: gray;
  border-top: 2px solid #838383;
}

.navbuttons a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block
}

.login {
   a {
    color: white
   }
  }

  .signup {
  background-color: #A7E6FF;
  border-radius: 5px;

   a{
  color: black;
   }
  }

.nav-item {
  a {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
  color: black;
  text-decoration: none;
}
}

.icon-text{
  font-size: 0.7em;
  color: rgb(33, 31, 31);
  margin-top: 2px;
  font-size: 14px;
  padding-left: 1vh;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}


.search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}


.search-input {
  width: 90%;
  padding: 18px 20px;
  border-radius: 30px;
  border: 1px solid white;
  outline: none;
  text-align: center;
  margin-left: 19px;
}

.search-button {
  margin-top: 20px;
  padding: 6px 20px;
  width: 110px;
  background-color: #A7E6FF;
  color: black;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 35.5%;
}

body {
  background-color: white;
}

.rocknroll-one-regular {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
