.club-bodybag {
  background-color: #A7E6FF;
  padding-bottom: 25px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 183px;
}

.dash-title {
  text-align: center;
  padding-top: 20px;
  color: black;
  margin-bottom: 20px;
}

.dashclub-title {
  text-align: center;
  margin-top: 30px;
}

.club-image-container {
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.club-image {
    height:300px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

.clubs-name {
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  position: relative;
}

.club-name-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.club-name-link {
  color: white;
  text-decoration: none;
}

.user-info p {
  font-size: small;
  margin-left: 7px;
  color:black;
}

.create-club-button {
  margin-left: 77px;
}

.club-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 95px;
  width: 300px;
  margin-left:auto;
  margin-right:auto;

}

.btn {
  height:40px;
  font-size:15px;
  border-radius: 28px;
  border:solid thin black;
}


.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border:solid thin;
  background-color: #d94f34;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  width: 50px;
  height: 50px;
}

.trashcan {
 width: 37px;
 height: 33px;
 padding-right: 11px;

}
