.club-bodybag {
  background-color: black;
}

.dash-title {
  text-align: center;
  padding-top: 20px;
  color: white;
}

.dashclub-title {
  text-align: center;
  margin-top: 30px;
}

.club-image {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.user-info p {
  font-size: small;
  margin-left: 7px;
  color:white;
}

.create-club-button {
  margin-left: 77px;
}

.club-container {
  text-align: center;
  margin-top: 30px;
}
