
.container-profile-info {
  height: 100%;
  width: 100vh;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f9f9;
  padding-left: 17px;
  padding-right: 22px;
}

  .profile-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 24px;
  }

  .profile-box {
    width: 362px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    position: relative;
    z-index: 1;
    overflow: visible;
    margin-top: 30px;
    height: 229px;
  }

  .profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
  }

  .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ccc;
  }

  .username {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #333;
  }

  .review-h4-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .review-h4-text h4,
  .days-on-dojo h4 {
    font-size: 21px;
    color: #333;
    font-weight: bold;
    padding: 10px;
  }
  .profile-views {
    text-align: left;
  }

  .days-on-dojo {
    text-align: left;
  }

  .days-on-dojo-number {
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: -6px;
  }


  .review-sentence {
    font-size: 18px;
    color: #333;
    font-weight: normal;
    text-align: left;
    margin-top: -17px;
  }

  .reviews p,
  .days-on-dojo p {
    font-size: 18px;
    color: #5a5a5a;
    margin-top: -15px;
  }



  .separator {
    width: 100%;
    border: 1px solid;
    margin: 10px 0;
    color: rgb(93, 206, 244);
  }

  .sticker-shadow {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  }

  .profile-right-part {
    flex-direction: column;
    align-items: center;
    padding: 34px;
  }




  .feedback-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 24px;
    padding-left: 101px;
  }





  .feedback-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .feedback-header img {
    width: 24px;
    height: 19px;
    margin-right: -10px;
  }


  .date-feedback {
    font-size: 1rem;
    color: #777;
    margin-left: 18px;
  }


  .activity-feedback p, .dojo-feedback p {
    font-size: 1rem;
    margin: 5px 0;
    color: #333;
    margin-top: -11px;
  }

  .activity-feedback strong, .dojo-Feedback strong {
    font-weight: bold;
    color: #333;
  }


  .activity-Feedback, .dojo-Feedback{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
  }

  .view-dojo-button {
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    padding: 5px 12px;
    border-radius: 9px;
    text-decoration: none;
    margin-top: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .blue-line {
    border: none;
    height: 2px;
    background-color: #007bff;
    width: 100vh;
    margin-top: 20px;
  }
