.form-control {
  width: 90%;
  padding: 10px;
  border-radius: 15px !important;
  border: 2px solid #006586;
}


#search-button {
  display: none;
  width: auto;
  padding: 5px 15px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 15px;
}


.home-page #search-button {
  display: none;
  background-color: lightblue;
  color: #000000;
  border: none;
  width: 40%
}


.small-btn {
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 15px;
}

.search_picture{
  width: 25px;
}

.search-container{
  text-align: center;
  margin-top: 50px;
}

.search-bar-box{
  background-color: white;
  width: 300px;
  display:flex;
  margin:auto;
  padding: 15px;
  border-radius:35px;
  border: 1px solid black;
}

.inputBox{
border: none;
outline: none;
padding-left: 15px;
}
