<div class="search-container">
  <%= form_with(url: activities_path, method: :get, class: 'd-flex flex-column align-items-center') do %>
    <%= image_tag "search.png", class: "search_picture" %>
    <%= text_field_tag :location, params[:location], class: 'form-control mb-2 rounded-3 ps-5', placeholder: '       Enter your location' %>
    <%= submit_tag "Search", name: "", id: "search-button", class: 'btn btn-primary small-btn' %>
  <% end %>
</div>
