<div class="navtop" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
  <div class="logo" style="display: flex; gap: 10px;">
    <h1>DOJO</h1>
  </div>
  <div class="navbuttons">
    <div class="login">
    <%= link_to 'Login' %>
    </div>
    <div class="signup">
    <%= link_to 'Sign up' %>
    </div>
  </div>
</div>
<%= render 'shared/search_bar' %>
<div class="home-body">

</div>
